In [150]:
# Load required modules
import pandas as pd
import numpy as np

from spacy.matcher import Matcher
from spacy.attrs import IS_PUNCT, LOWER
import spacy

nlp = spacy.load('en_core_web_lg')
matcher = Matcher(nlp.vocab)

In [118]:
matcher = Matcher(nlp.vocab)

In [382]:
def skillPattern(skill):
    pattern = []
    for b in skill.split():
        pattern.append({'LOWER':b})  
    return pattern

def buildPatterns(skills):
    pattern = []
    for skill in skills:
        pattern.append(skillPattern(skill))
#     print(skills, pattern)
    return list(zip(skills, pattern))

In [383]:
def on_match(matcher, doc, id, matches):
 #   print(matcher, doc, id, matches)
    return matches

def buildMatcher(patterns):
    for pattern in patterns:
        matcher.add(pattern[0], on_match, pattern[1])
    return matcher

In [384]:
def city_Matcher(matcher, text):
    skills = []
    doc = nlp(text.lower())
    matches = matcher(doc)
    mat_data = []
    print(matches)
    for b in matches:
        print(b)
        match_id, start, end = b
        mat_data.append({"text":doc[start : end].text , "label_":"GPE"})
#         print(doc[start : end], start, end)
    return mat_data

In [381]:
city_Matcher(city_matcher, "I am from Saharanpur, i live in san jim corbett, A Taj Safari Lodge - Kanha National Park..   ")

[]

[]

In [213]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'../datawe/raw/Email_Classification/Taj Locations.csv')

In [214]:
df.columns

Index(['Unnamed: 0', 'country', 'city', 'palace'], dtype='object')

In [215]:
def concatinateLoc(dta, cityArr):
    for city, repeated in dta.value_counts().items():
        cityArr.append(u''+city.lower())
    return cityArr

In [216]:
taj_cities = []

concatinateLoc(df["city"], taj_cities)
concatinateLoc(df["country"], taj_cities)
taj_place = []
for place, repeated in enumerate(df["palace"]):
    taj_place += repeated.lower().split(',')
taj_cities += [plc.strip() for plc in taj_place]

In [219]:
taj_cities

['bangalore',
 'hyderabad',
 'chennai',
 'mumbai',
 'new delhi',
 'goa',
 'jaipur',
 'thimpu',
 'gurgaon',
 'colombo',
 'boston',
 'kolkata',
 'pune',
 'jodhpur',
 'varanasi',
 'cape town',
 'udaipur',
 'panna',
 'nashik',
 'san francisco',
 'kumarakom',
 'varkala',
 'bekal',
 'ernakulam',
 'guwahati',
 'aurangabad',
 'banjaar tola',
 'chikmagalur',
 'jim corbett',
 'srinagar',
 'ooty',
 'vishakhapatnam',
 'coimbatore',
 'new york',
 'khajuraho',
 'gondia',
 'london',
 'bentota',
 'coonoor',
 'calicut',
 'surat',
 'cochin',
 'bandhavgarh',
 'langkawi',
 'coorg',
 'agra',
 'gwalior',
 'gir forest',
 'ranthambor',
 'ajmer',
 'amritsar',
 'lucknow',
 'mangalore',
 'vadodara',
 'vijaywada',
 'lusaka',
 'trivandrum',
 'madurai',
 'kovalam',
 'dubai',
 'chandigarh',
 'chitwan',
 'baghvan',
 'india',
 'zambia',
 'united arab emirates',
 'maldives',
 'united states of america',
 'united kingdom',
 'malaysia',
 'nepal',
 'bhutan',
 'south africa',
 'sri lanka',
 'the gateway hotel fatehabad road',
 'the gateway resort',
 'taj swarna',
 'vivanta by taj',
 'aurangabad',
 'baghvan',
 'a taj safari lodge',
 'pench national park',
 'mahua kothi',
 'a taj safari lodge',
 'bandhavgarh national park',
 'taj bangalore',
 'the taj west end',
 'vivanta by taj mg road',
 'vivanta by taj',
 'whitefield',
 'vivanta by taj',
 'yeshwantpur',
 'the gateway hotel residency road',
 'banjaar tola',
 'a taj safari lodge',
 'kanha national park',
 'vivanta by taj',
 'bekal',
 'the gateway hotel beach road',
 'taj chandigarh',
 'taj coromandel',
 'taj club house',
 'vivanta by taj',
 'connemara',
 'vivanta by taj',
 "fisherman's cove",
 'the gateway hotel it expressway',
 'the gateway hotel km road',
 'vivanta by taj',
 'malabar',
 'vivanta by taj',
 'surya',
 'the gateway hotel church road',
 'vivanta by taj',
 'madikeri',
 'the gateway hotel marine drive',
 'the gateway hotel gir forest',
 'taj exotica',
 'vivanta by taj',
 'fort aguada',
 'vivanta by taj',
 'holiday village',
 'vivanta by taj',
 'panaji',
 'the gateway hotel balaghat road',
 'vivanta by taj',
 'ncr',
 'the gateway resort damdama lake',
 'vivanta by taj',
 'guwahati',
 'usha kiran palace',
 'taj falaknuma palace',
 'taj krishna',
 'taj deccan',
 'vivanta by taj',
 'begumpet',
 'taj banjara',
 'jai mahal palace',
 'rambagh palace',
 'sms hotel',
 'the gateway hotel ramgarh lodge',
 'the gateway resort corbett',
 'umaid bhawan palace',
 'vivanta by taj',
 'hari mahal',
 'hotel chandela',
 'khajuraho',
 'taj bengal',
 'the gateway hotel em bypass',
 'vivanta by taj green cove',
 'vivanta by taj',
 'kumarakom',
 'vivanta by taj',
 'gomti nagar',
 'the gateway hotel pasumalai',
 'the gateway hotel old port road',
 'taj lands end',
 'taj santacruz',
 'taj wellington mews luxury residences',
 'the taj mahal palace',
 'mumbai',
 'vivanta by taj',
 'president',
 'the gateway hotel ambad',
 'taj palace',
 'the taj mahal hotel',
 'vivanta by taj',
 'ambassador',
 'vivanta by taj',
 'dwarka',
 'vivanta by taj',
 'surajkund',
 'savoy hotel',
 'pashan garh',
 'a taj safari lodge',
 'panna national park',
 'vivanta by taj',
 'blue diamond',
 'the gateway hotel hinjawadi',
 'vivanta by taj',
 'sawai madhopur lodge',
 'vivanta by taj',
 'dal view',
 'the gateway hotel athwalines',
 'vivanta by taj',
 'trivandrum',
 'taj lake palace',
 'the gateway hotel akota gardens',
 'taj nadesar palace',
 'the gateway hotel ganges',
 'the gateway hotel janardhanpuram',
 'the gateway hotel mg road vijayawada',
 'the gateway hotel beach road visakhapatnam',
 'taj tashi',
 'taj exotica resort & spa',
 'vivanta by taj',
 'coral reef',
 'vivanta by taj',
 'rebak island',
 'meghauli serai',
 'a taj safari lodge',
 'taj cape town',
 'vivanta by taj',
 'bentota',
 'taj dubai',
 'taj samudra',
 'the gateway hotel airport garden',
 "st. james' court",
 'a taj hotel',
 'taj boston',
 'taj 51 buckingham gate suites and residences',
 'taj pamodzi lusaka',
 'the pierre',
 'a taj hotel',
 'taj campton place']

In [21]:
[plc.strip() for plc in taj_place]

['the gateway hotel fatehabad road',
 'the gateway resort',
 'taj swarna',
 'vivanta by taj',
 'aurangabad',
 'baghvan',
 'a taj safari lodge',
 'pench national park',
 'mahua kothi',
 'a taj safari lodge',
 'bandhavgarh national park',
 'taj bangalore',
 'the taj west end',
 'vivanta by taj mg road',
 'vivanta by taj',
 'whitefield',
 'vivanta by taj',
 'yeshwantpur',
 'the gateway hotel residency road',
 'banjaar tola',
 'a taj safari lodge',
 'kanha national park',
 'vivanta by taj',
 'bekal',
 'the gateway hotel beach road',
 'taj chandigarh',
 'taj coromandel',
 'taj club house',
 'vivanta by taj',
 'connemara',
 'vivanta by taj',
 "fisherman's cove",
 'the gateway hotel it expressway',
 'the gateway hotel km road',
 'vivanta by taj',
 'malabar',
 'vivanta by taj',
 'surya',
 'the gateway hotel church road',
 'vivanta by taj',
 'madikeri',
 'the gateway hotel marine drive',
 'the gateway hotel gir forest',
 'taj exotica',
 'vivanta by taj',
 'fort aguada',
 'vivanta by taj',
 'holiday village',
 'vivanta by taj',
 'panaji',
 'the gateway hotel balaghat road',
 'vivanta by taj',
 'ncr',
 'the gateway resort damdama lake',
 'vivanta by taj',
 'guwahati',
 'usha kiran palace',
 'taj falaknuma palace',
 'taj krishna',
 'taj deccan',
 'vivanta by taj',
 'begumpet',
 'taj banjara',
 'jai mahal palace',
 'rambagh palace',
 'sms hotel',
 'the gateway hotel ramgarh lodge',
 'the gateway resort corbett',
 'umaid bhawan palace',
 'vivanta by taj',
 'hari mahal',
 'hotel chandela',
 'khajuraho',
 'taj bengal',
 'the gateway hotel em bypass',
 'vivanta by taj green cove',
 'vivanta by taj',
 'kumarakom',
 'vivanta by taj',
 'gomti nagar',
 'the gateway hotel pasumalai',
 'the gateway hotel old port road',
 'taj lands end',
 'taj santacruz',
 'taj wellington mews luxury residences',
 'the taj mahal palace',
 'mumbai',
 'vivanta by taj',
 'president',
 'the gateway hotel ambad',
 'taj palace',
 'the taj mahal hotel',
 'vivanta by taj',
 'ambassador',
 'vivanta by taj',
 'dwarka',
 'vivanta by taj',
 'surajkund',
 'savoy hotel',
 'pashan garh',
 'a taj safari lodge',
 'panna national park',
 'vivanta by taj',
 'blue diamond',
 'the gateway hotel hinjawadi',
 'vivanta by taj',
 'sawai madhopur lodge',
 'vivanta by taj',
 'dal view',
 'the gateway hotel athwalines',
 'vivanta by taj',
 'trivandrum',
 'taj lake palace',
 'the gateway hotel akota gardens',
 'taj nadesar palace',
 'the gateway hotel ganges',
 'the gateway hotel janardhanpuram',
 'the gateway hotel mg road vijayawada',
 'the gateway hotel beach road visakhapatnam',
 'taj tashi',
 'taj exotica resort & spa',
 'vivanta by taj',
 'coral reef',
 'vivanta by taj',
 'rebak island',
 'meghauli serai',
 'a taj safari lodge',
 'taj cape town',
 'vivanta by taj',
 'bentota',
 'taj dubai',
 'taj samudra',
 'the gateway hotel airport garden',
 "st. james' court",
 'a taj hotel',
 'taj boston',
 'taj 51 buckingham gate suites and residences',
 'taj pamodzi lusaka',
 'the pierre',
 'a taj hotel',
 'taj campton place']

In [11]:
# np.concatenate([], 'Banjaar Tola, A Taj Safari Lodge, Kanha National Park'.split(","))

In [385]:
# dte = [('14 Dec 2018', [{ 'SHAPE':'\d{2}\sDec\s\d{4}' }])]
# # ('12 13 2018', [{'ORTH': '12 13 2018', 'LENGTH': 10, 'IS_DIGIT': True, 'IS_PUNCT': False, 'LIKE_NUM': True, 'POS': 'NUM', 'TAG': 'CD', 'SHAPE': 'DD DD DDDD', 'ENT_TYPE': 'DATE'}]),
# # ('12 Dec, 2018', [{'ORTH': '12 Dec, 2018', 'IS_DIGIT': True, 'IS_PUNCT': True, 'LIKE_NUM': True,  'SHAPE': 'DD [A-Za-z,] DDDD', 'ENT_TYPE': 'DATE', 'LOWER': '12 dec 2018',  'IS_SPACE': True}])]

date_pattern = [{"example": ["September 30, 1971"], "pattern": [{"ENT_TYPE": "DATE", "IS_ALPHA": True}, {"ENT_TYPE": "DATE", "IS_DIGIT": True}, {"ENT_TYPE": "DATE", "ORTH": ",", "OP": "*"}, {"ENT_TYPE": "DATE", "IS_DIGIT": True}], "label": "MY_DATE"},
{"example": ["30 September, 1971"], "pattern": [{"ENT_TYPE": "DATE", "IS_DIGIT": True}, {"ENT_TYPE": "DATE", "IS_ALPHA": True}, {"ENT_TYPE": "DATE", "ORTH": ",", "OP": "*"}, {"ENT_TYPE": "DATE", "IS_DIGIT": True}], "label": "MY_DATE"},
{"example": ["1st day of September, 1971"], "pattern": [{"SHAPE": "dxx"}, {"LOWER": "day"}, {"LOWER": "of"}, {"ENT_TYPE": "DATE", "IS_ALPHA": True}, { "ORTH": ",", "OP": "*"}, {"ENT_TYPE": "DATE", "IS_DIGIT": True}], "label": "MY_DATE"},
{"example": ["30th day of September, 1971"], "pattern": [{"SHAPE": "ddxx"}, {"LOWER": "day"}, {"LOWER": "of"}, {"ENT_TYPE": "DATE", "IS_ALPHA": True}, { "ORTH": ",", "OP": "*"}, {"ENT_TYPE": "DATE", "IS_DIGIT": True}], "label": "MY_DATE"},
{"example": ["28th December, 2018"], "pattern": [{"SHAPE": "ddxx"}, {"IS_ALPHA": True},{"ENT_TYPE": "DATE", "ORTH": ",", "OP": "*"}, { "IS_DIGIT": True}], "label": "MY_DATE"},
{"example": ["December 21st, 2018"], "pattern": [{"IS_ALPHA": True}, {"SHAPE": "ddxx"}, {"ENT_TYPE": "DATE", "ORTH": ",", "OP": "*"}, {"ENT_TYPE": "DATE", "IS_DIGIT": True}], "label": "MY_DATE"},
{"example": ["January 2019"], "pattern": [{"IS_ALPHA": True}, {"ENT_TYPE": "DATE", "IS_DIGIT": True}], "label": "MY_DATE"},           
    
{"example": ["1/1/1971"], "pattern": [{"SHAPE": "d/d/dddd"}], "label": "MY_DATE"},
{"example": ["10/1/1971"], "pattern": [{"SHAPE": "dd/d/dddd"}], "label": "MY_DATE"},
{"example": ["1/10/1971"], "pattern": [{"SHAPE": "d/dd/dddd"}], "label": "MY_DATE"},
{"example": ["10/10/1971"], "pattern": [{"SHAPE": "dd/dd/dddd"}], "label": "MY_DATE"},
{"example": ["1/1/71"], "pattern": [{"SHAPE": "d/d/dd"}], "label": "MY_DATE"},
{"example": ["10/1/71"], "pattern": [{"SHAPE": "dd/d/dd"}], "label": "MY_DATE"},
{"example": ["1/10/71"], "pattern": [{"SHAPE": "d/dd/dd"}], "label": "MY_DATE"},
{"example": ["10/10/71"], "pattern": [{"SHAPE": "dd/dd/dd"}], "label": "MY_DATE"},
{"example": ["1.1.1971"], "pattern": [{"SHAPE": "d.d.dddd"}], "label": "MY_DATE"},
{"example": ["10.1.1971"], "pattern": [{"SHAPE": "dd.d.dddd"}], "label": "MY_DATE"},
{"example": ["1.10.1971"], "pattern": [{"SHAPE": "d.dd.dddd"}], "label": "MY_DATE"},
{"example": ["10.10.1971"], "pattern": [{"SHAPE": "dd.dd.dddd"}], "label": "MY_DATE"},
{"example": ["1.1.71"], "pattern": [{"SHAPE": "d.d.dd"}], "label": "MY_DATE"},
{"example": ["10.1.71"], "pattern": [{"SHAPE": "dd.d.dd"}], "label": "MY_DATE"},
{"example": ["1.10.71"], "pattern": [{"SHAPE": "d.dd.dd"}], "label": "MY_DATE"},
{"example": ["10.10.71"], "pattern": [{"SHAPE": "dd.dd.dd"}], "label": "MY_DATE"}]
dates_Pattern_nlp = []
for ex in date_pattern:
    dates_Pattern_nlp.append((ex['example'][0],  ex['pattern']))

In [386]:
# patterns = buildPatterns(cities)
# patterns = buildPatterns(dates_Pattern_nlp)
matcher = Matcher(nlp.vocab)
city_matcher = buildMatcher(dates_Pattern_nlp)
### Size of dictionary 
len(city_matcher)
print()
for dt in date_ptrn_values:
    print(city_Matcher(city_matcher, '12/1/1222'),'new')

[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new
[(3892895032069804020, 0, 1)]
(3892895032069804020, 0, 1)
[{'text': '12/1/1222', 'label_': 'GPE'}] new

In [364]:
# a = np.concatenate(["1","2"], ['Banjaar Tola', ' A Taj Safari Lodge', ' Kanha National Park'])
date_ptrn_values

['21st December 2018',
 'January 2019',
 'December 2018',
 'January 2019',
 'December 2018',
 '101015421297',
 '17/12/2018',
 '34 years 2',
 '28 years',
 'Dec 2018',
 ' – 09 DECEMBER 2018',
 'December 2018',
 'January 2019',
 'November 30',
 'December 1',
 '101010203753',
 'Monday 26 November to Thursday 29 November',
 'Good Day',
 'November – 01 December 2018',
 '12th Jan, 2019 to 15th Jan, 2019',
 '17th April 2019',
 '19th April 2019',
 '12646587']

In [7]:
# 'Banjaar Tola, A Taj Safari Lodge, Kanha National Park'.split(",")

In [8]:
# help(np.concatenate)

In [245]:
dates_Pattern_nlp

[(['September 30, 1971', 'September 30 1971'],
  [{'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 (['30 September, 1971', '30 September 1971'],
  [{'ENT_TYPE': 'DATE', 'IS_DIGIT': True},
   {'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 (['1st day of September, 1971'],
  [{'SHAPE': 'dxx'},
   {'LOWER': 'day'},
   {'LOWER': 'of'},
   {'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 (['30th day of September, 1971'],
  [{'SHAPE': 'ddxx'},
   {'LOWER': 'day'},
   {'LOWER': 'of'},
   {'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 (['1/1/1971'], [{'SHAPE': 'd/d/dddd'}]),
 (['10/1/1971'], [{'SHAPE': 'dd/d/dddd'}]),
 (['1/10/1971'], [{'SHAPE': 'd/dd/dddd'}]),
 (['10/10/1971'], [{'SHAPE': 'dd/dd/dddd'}]),
 (['1/1/71'], [{'SHAPE': 'd/d/dd'}]),
 (['10/1/71'], [{'SHAPE': 'dd/d/dd'}]),
 (['1/10/71'], [{'SHAPE': 'd/dd/dd'}]),
 (['10.10.71'], [{'SHAPE': 'dd/dd/dd'}])]

In [56]:
doc = nlp(u"Dec 20, 2017")
print([token.pos_ for token in doc])  # ['Dec', '20', ',', '2017']

doc = nlp(u"20.12.2017")
print([token.tag_ for token in doc])  # ['20.12.2017']

['PROPN', 'NUM', 'PUNCT', 'NUM']
['CD']

In [55]:
len("DD.DD.DDDD")

10

In [121]:
dte = [('12.13.2018', [{ 'LIKE_NUM': True, 'SHAPE': 'DD.DD.DDDD',}])]
# ('12 13 2018', [{'ORTH': '12 13 2018', 'LENGTH': 10, 'IS_DIGIT': True, 'IS_PUNCT': False, 'LIKE_NUM': True, 'POS': 'NUM', 'TAG': 'CD', 'SHAPE': 'DD DD DDDD', 'ENT_TYPE': 'DATE'}]),
# ('12 Dec, 2018', [{'ORTH': '12 Dec, 2018', 'IS_DIGIT': True, 'IS_PUNCT': True, 'LIKE_NUM': True,  'SHAPE': 'DD [A-Za-z,] DDDD', 'ENT_TYPE': 'DATE', 'LOWER': '12 dec 2018',  'IS_SPACE': True}])]

In [75]:
dte

[('12.13.2018',
  [{'ORTH': '12.13.2018',
    'LENGTH': 10,
    'IS_DIGIT': True,
    'IS_PUNCT': True,
    'LIKE_NUM': True,
    'POS': 'NUM',
    'TAG': 'CD',
    'SHAPE': 'DD.DD.DDDD',
    'ENT_TYPE': 'DATE'}]),
 ('12 13 2018',
  [{'ORTH': '12 13 2018',
    'LENGTH': 10,
    'IS_DIGIT': True,
    'IS_PUNCT': False,
    'LIKE_NUM': True,
    'POS': 'NUM',
    'TAG': 'CD',
    'SHAPE': 'DD DD DDDD',
    'ENT_TYPE': 'DATE'}]),
 ('12 Dec, 2018',
  [{'ORTH': '12 Dec, 2018',
    'IS_DIGIT': True,
    'IS_PUNCT': True,
    'LIKE_NUM': True,
    'SHAPE': 'DD [A-Za-z,] DDDD',
    'ENT_TYPE': 'DATE',
    'LOWER': '12 dec 2018',
    'IS_SPACE': True}])]

In [227]:
my_list = [20,30,20,30,40,50,15,11,20,40,50,15,6,7]
 
my_list.sort()
print(my_list)
 
new_list = sorted(set(my_list))
dup_list =[]
 
 
for i in range(len(new_list)):
        if (my_list.count(new_list[i]) > 1 ):
            dup_list.append(new_list[i])
        
print(dup_list)

[6, 7, 11, 15, 15, 20, 20, 20, 30, 30, 40, 40, 50, 50]
[15, 20, 30, 40, 50]

In [229]:
l = [{'a': 123, 'b': 1234},
        {'a': 3222, 'b': 1234},
        {'a': 123, 'b': 1234}]
[dict(t) for t in {tuple(d.items()) for d in l}]

[{'a': 3222, 'b': 1234}, {'a': 123, 'b': 1234}]

In [230]:
a = [12, 23, 34, 45]
[True for b in a if a > b else False]

SyntaxError: invalid syntax (<ipython-input-230-4491cb6a5cde>, line 2)

In [250]:
dates_Pattern_nlp = []
for ex in date_pattern:
    dates_Pattern_nlp.append((ex['example'][0],  ex['pattern']))

In [251]:
dates_Pattern_nlp

[('September 30, 1971',
  [{'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 ('30 September, 1971',
  [{'ENT_TYPE': 'DATE', 'IS_DIGIT': True},
   {'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 ('1st day of September, 1971',
  [{'SHAPE': 'dxx'},
   {'LOWER': 'day'},
   {'LOWER': 'of'},
   {'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 ('30th day of September, 1971',
  [{'SHAPE': 'ddxx'},
   {'LOWER': 'day'},
   {'LOWER': 'of'},
   {'ENT_TYPE': 'DATE', 'IS_ALPHA': True},
   {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'},
   {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}]),
 ('1/1/1971', [{'SHAPE': 'd/d/dddd'}]),
 ('10/1/1971', [{'SHAPE': 'dd/d/dddd'}]),
 ('1/10/1971', [{'SHAPE': 'd/dd/dddd'}]),
 ('10/10/1971', [{'SHAPE': 'dd/dd/dddd'}]),
 ('1/1/71', [{'SHAPE': 'd/d/dd'}]),
 ('10/1/71', [{'SHAPE': 'dd/d/dd'}]),
 ('1/10/71', [{'SHAPE': 'd/dd/dd'}]),
 ('10.10.71', [{'SHAPE': 'dd/dd/dd'}])]

In [317]:
date_values = [{"label": "DATE", "pattern": [{"lower": "21st December 2018"}]},
{"label": "DATE", "pattern": [{"lower": "January 2019"}]},
{"label": "DATE", "pattern": [{"lower": "December 2018"}]},
{"label": "DATE", "pattern": [{"lower": "January 2019"}]},
{"label": "DATE", "pattern": [{"lower": "December 2018"}]},
{"label": "DATE", "pattern": [{"lower": "101015421297"}]},
{"label": "DATE", "pattern": [{"lower": "17/12/2018"}]},
{"label": "DATE", "pattern": [{"lower": "34 years 2"}]},
{"label": "DATE", "pattern": [{"lower": "28 years"}]},
{"label": "DATE", "pattern": [{"lower": "Dec 2018"}]},
{"label": "DATE", "pattern": [{"lower": " \u2013 09 DECEMBER 2018"}]},
{"label": "DATE", "pattern": [{"lower": "December 2018"}]},
{"label": "DATE", "pattern": [{"lower": "January 2019"}]},
{"label": "DATE", "pattern": [{"lower": "November 30"}]},
{"label": "DATE", "pattern": [{"lower": "December 1"}]},
{"label": "DATE", "pattern": [{"lower": "101010203753"}]},
{"label": "DATE", "pattern": [{"lower": "Monday 26 November to Thursday 29 November"}]},
{"label": "DATE", "pattern": [{"lower": "Good Day"}]},
{"label": "DATE", "pattern": [{"lower": "November \u2013 01 December 2018"}]},
{"label": "DATE", "pattern": [{"lower": "12th Jan, 2019 to 15th Jan, 2019"}]},
{"label": "DATE", "pattern": [{"lower": "17th April 2019"}]},
{"label": "DATE", "pattern": [{"lower": "19th April 2019"}]},
{"label": "DATE", "pattern": [{"lower": "12646587"}]}]

In [319]:
date_ptrn_values = []
for dt in date_values:
    date_ptrn_values.append(dt['pattern'][0]['lower'])

In [320]:
date_ptrn_values

['21st December 2018',
 'January 2019',
 'December 2018',
 'January 2019',
 'December 2018',
 '101015421297',
 '17/12/2018',
 '34 years 2',
 '28 years',
 'Dec 2018',
 ' – 09 DECEMBER 2018',
 'December 2018',
 'January 2019',
 'November 30',
 'December 1',
 '101010203753',
 'Monday 26 November to Thursday 29 November',
 'Good Day',
 'November – 01 December 2018',
 '12th Jan, 2019 to 15th Jan, 2019',
 '17th April 2019',
 '19th April 2019',
 '12646587']

In [370]:
import json
with open("../src/Pattern/date_Pattern.json", 'r') as f:
        date_patter = json.loads(f.read())

In [375]:
date_patter['date_pattern'][0]["example"]

['September 30, 1971']

In [379]:
for itm in date_patter['date_pattern']:
    print(itm)

{'example': ['September 30, 1971'], 'pattern': [{'ENT_TYPE': 'DATE', 'IS_ALPHA': True}, {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}, {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'}, {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}], 'label': 'MY_DATE'}
{'example': ['30 September, 1971'], 'pattern': [{'ENT_TYPE': 'DATE', 'IS_DIGIT': True}, {'ENT_TYPE': 'DATE', 'IS_ALPHA': True}, {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'}, {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}], 'label': 'MY_DATE'}
{'example': ['1st day of September, 1971'], 'pattern': [{'SHAPE': 'dxx'}, {'LOWER': 'day'}, {'LOWER': 'of'}, {'ENT_TYPE': 'DATE', 'IS_ALPHA': True}, {'ORTH': ',', 'OP': '*'}, {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}], 'label': 'MY_DATE'}
{'example': ['30th day of September, 1971'], 'pattern': [{'SHAPE': 'ddxx'}, {'LOWER': 'day'}, {'LOWER': 'of'}, {'ENT_TYPE': 'DATE', 'IS_ALPHA': True}, {'ORTH': ',', 'OP': '*'}, {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}], 'label': 'MY_DATE'}
{'example': ['28th December, 2018'], 'pattern': [{'SHAPE': 'ddxx'}, {'IS_ALPHA': True}, {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'}, {'IS_DIGIT': True}], 'label': 'MY_DATE'}
{'example': ['December 21st, 2018'], 'pattern': [{'IS_ALPHA': True}, {'SHAPE': 'ddxx'}, {'ENT_TYPE': 'DATE', 'ORTH': ',', 'OP': '*'}, {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}], 'label': 'MY_DATE'}
{'example': ['January 2019'], 'pattern': [{'IS_ALPHA': True}, {'ENT_TYPE': 'DATE', 'IS_DIGIT': True}], 'label': 'MY_DATE'}
{'example': ['1/1/1971'], 'pattern': [{'SHAPE': 'd/d/dddd'}], 'label': 'MY_DATE'}
{'example': ['10/1/1971'], 'pattern': [{'SHAPE': 'dd/d/dddd'}], 'label': 'MY_DATE'}
{'example': ['1/10/1971'], 'pattern': [{'SHAPE': 'd/dd/dddd'}], 'label': 'MY_DATE'}
{'example': ['10/10/1971'], 'pattern': [{'SHAPE': 'dd/dd/dddd'}], 'label': 'MY_DATE'}
{'example': ['1/1/71'], 'pattern': [{'SHAPE': 'd/d/dd'}], 'label': 'MY_DATE'}
{'example': ['10/1/71'], 'pattern': [{'SHAPE': 'dd/d/dd'}], 'label': 'MY_DATE'}
{'example': ['1/10/71'], 'pattern': [{'SHAPE': 'd/dd/dd'}], 'label': 'MY_DATE'}
{'example': ['10/10/71'], 'pattern': [{'SHAPE': 'dd/dd/dd'}], 'label': 'MY_DATE'}
{'example': ['1.1.1971'], 'pattern': [{'SHAPE': 'd.d.dddd'}], 'label': 'MY_DATE'}
{'example': ['10.1.1971'], 'pattern': [{'SHAPE': 'dd.d.dddd'}], 'label': 'MY_DATE'}
{'example': ['1.10.1971'], 'pattern': [{'SHAPE': 'd.dd.dddd'}], 'label': 'MY_DATE'}
{'example': ['10.10.1971'], 'pattern': [{'SHAPE': 'dd.dd.dddd'}], 'label': 'MY_DATE'}
{'example': ['1.1.71'], 'pattern': [{'SHAPE': 'd.d.dd'}], 'label': 'MY_DATE'}
{'example': ['10.1.71'], 'pattern': [{'SHAPE': 'dd.d.dd'}], 'label': 'MY_DATE'}
{'example': ['1.10.71'], 'pattern': [{'SHAPE': 'd.dd.dd'}], 'label': 'MY_DATE'}
{'example': ['10.10.71'], 'pattern': [{'SHAPE': 'dd.dd.dd'}], 'label': 'MY_DATE'}